<div class="card">
    <div class="card-header">
      <h2>Mark as done</h2>
    </div>
    <div class="card-body">
      <div class="card-text">
        <p>Are you sure you want to mark this ticket as done ?</p>
      </div>
      <div class="button-group"></div>
      <button type="button" (click)="onClick()" [mat-dialog-close]="true" class="btn btn-success">
        Mark as done
      </button>
      <button type="button" mat-dialog-close class="btn btn-secondary">
        Cancel
      </button>
    </div>
  </div>
  